doctype 

html
	head
		title Chat Demo Node
		link(href="assets/favicon.ico", rel="icon")
		link(href="assets/css/chat.css", rel="stylesheet")
	body 
		section#chat		
		script(src="/socket.io/socket.io.js", type="text/javascript")
		script(src="assets/javascript/chat.js")
		script(type="text/javascript") window.onload = function() { chat({'parentID': 'chat'}).init(); };
