#chat {
	max-width: 860px; 
	margin: 0 auto; 

	.status {
		border: 1px solid #aaa;
		padding: 10px; 
		text-align: center; 
		color: white; 

		&.ok {
			background-color: darken(node-green(), 10%);
		}

		&.error {
			background-color: darken(rgba(200, 69, 69, 1), 10%);
		}
	}


	.messages {
		border: 1px solid #ccc;
		background-color: #efefef;
		height: 400px; 
		margin-top: 10px; 
		margin-bottom: 10px; 
		overflow-y: auto; 
		padding: 10px; 
		font-size: 12pt; 
		position: relative;

		p {
			margin: 0px; 
			padding: 0px; 
		}

		.connection {
			@extend %icon;
			position: absolute;
			top: 0px; 
			right: -2px; 
			border: none;
			background-color: #eee;

			&:before { 
				@extend .icon-connection:before; }
				font-size: 24pt;
			&:hover { cursor: pointer; }

			&.ok { color: darken(node-green(), 10%); }
		}
	}

	.message {
		width: 85%;
		display: inline-block;
	}

	button {
		display: inline-block; 
		margin-left: 10px; 
	}
}