@function node-background() { @return #46483e; }
@function node-green() 		{ @return #8cc84b; }

@font-face {
	font-family: 'Open Sans';
	src: url(fonts/open-sans/OpenSans-Regular.ttf);
	font-weight: 400;
}

@include slide-in ();
@include slide-out();


html { 
	font-family: 'Open Sans', Verdana; 
	background-color: #eee; 
	line-height: 1.5; 
}

body { position: relative; overflow: hidden; }

