.slide {
	background-color: white;
	color: #444;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #aaa;
	display: block;
	font-size: 18pt;
	position: absolute;
	padding: 20px; 

	a { text-shadow: none; }

	ul > li { 
		list-style: disc; 
		margin-left: 30px;

		&.point {
			margin-top: 15px;
			margin-bottom: 15px; 
		}

		& > ul > li { font-size: 12pt; }
	}


	img {
		float: right; 
	}

	h1 { 
		margin-top: 25px;
		margin-bottom: 20px; 
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px; 
		font-weight: bold; 
		font-size: 40pt; }

	&.slide-in {
		@include animation("slide-in", 2s, ease-out, 0s);
	}

	&.slide-out {
		@include animation("slide-out", 2s, ease-in, 0s);
	}

	&.cover {

		h1 { font-size: 40pt; margin-top: 350px; margin-bottom: 20px; }

		p { 
			background-color: node-green(); 
			padding: 20px;  
			margin-left: -20px;
			font-size: 24pt;
			font-weight: bold;
			color: black;
			width: 90%;
		}

		background-color: node-background();
		color: white;
	}
}