.prettyprint {
	background-color: #f5f2f0;
	font-size: 10pt;
	font-family: monospace;
	padding-top: -5px; 

	ol { list-style: decimal; padding-left: 35px; line-height: 1.2; }

	li { border-left: 1px solid #ddd; padding-left: 5px;  }

	.pun { color: #999; }
	.str { color: #690; }
	.kwd { color: #07a; }
	.lit { color: #905; }
	.com { color: slategray; }


}