@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content
	}

	@-moz-keyframes #{$name} {
		@content
	}

	@-o-keyframes #{$name} {
		@content
	}

	@-ms-keyframes #{$name} {
		@content
	}

	@keyframes #{$name} {
		@content
	}
}

@mixin slide-in() {
	@include keyframes("slide-in") {
		from { left: 100%; }

		to { left: 0%; }
	}
}

@mixin slide-out() {
	@include keyframes("slide-out") {
		from { left: 0%; }
		to { left: -100%; }
	}
}

@mixin animation($name, $duration, $function, $delay, $fill-mode: forwards) {
	-webkit-animation: #{$name} $duration $function $delay $fill-mode;
	-moz-animation: #{$name} $duration $function $delay $fill-mode;
	-ms-animation: #{$name} $duration $function $delay $fill-mode;
	-o-animation: #{$name} $duration $function $delay $fill-mode;
	animation: #{$name} $duration $function $delay $fill-mode;
}

@mixin scale($factor) {
	-webkit-transform: scale($factor, $factor);
	-moz-transform: scale($factor, $factor);
	-o-transform: scale($factor, $factor);
	-ms-transform: scale($factor, $factor);
	transform: scale($factor, $factor);
}