doctype

html
	head
		link(href="assets/favicon.ico", rel="icon")
		link(href="assets/css/style.css", rel="stylesheet")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(charset="utf-8")
		title nodejs - Web-Systeme
	body
		div#impress
			include slides/titlepage
			include slides/tableofcontents
			include slides/introduction
			include slides/webserver
			include slides/expressjs
			include slides/socket.io.jade
			include slides/demo
			include slides/databases
			include slides/technology
			article(class="step", data-x="500", data-y="-700", data-scale="3")
		script(src="assets/javascript/lib/impress.js")
		script(src="/socket.io/socket.io.js")
		script(src="assets/javascript/chat.js")
		script(src="assets/javascript/lib/prettify/prettify.js")
		script(src="assets/javascript/main.js")

		


