.express, .socket-io {
	li > span { display: block; clear: both; }

	.prettyprint {
		width: 400px; 
		float: left; 

		&:nth-child(3), 
		&:last-child { margin-left: 20px; }

		&:last-child { margin-top: 15px; }
	}
}

