article(class="step slide", data-x="6000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")
	section.databases
		h1 DB - MySQL
		pre.prettyprint.linenums 
			code /* push.js */
				| var server       = require('http').createServer(),
				|     io           = require('socket.io').listen(server),
				|     mysql        = require('mysql'),
				|     sql          = 'SELECT * FROM question', 
				|     pollInterval = 60000, // == 1s
				|     connection   = mysql.createConnection({
				|         host     : 'localhost',
				|         port     : 3306,
				|         user     : 'ai_overflow',
				|         password : 'sql'
				|     });
				| 
				| const PORT = 8080;
				| server.listen(PORT, function() {
				|     console.log('Server running on port: ' + PORT);
				| });
				| 
				| io.sockets.on('connection', function(socket) {
				|     (function push() {
				|         connection.query(sql, function(error, rows) {
				|             if( error ) throw error;
				|             
				|             socket.emit('questions', { 
				|                 'questions': rows 
				|             });
				|         });
				| 
				|         setTimeout(push, pollInterval);
				|     })();
				| });
		pre.prettyprint.linenums 
			code /* client.js */
				| var url    = 'http://localhost:8080',
				|     socket = io.connect(url);
				| 
				| socket.on('connect', function() {
				|     status.innerHTML = 'Verbunden mit ' + url;
				| });
				| 
				| socket.on('questions', function(questions) {
				|     console.log(questions);
				| });
				| 
				| socket.on('disconnect', function() {
				|     status.innerHTML = 'Verbindung abgebrochen...';
				| });
