article(class="step slide", data-x="3000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")
	section.express 
		h1 Express.js
		ul 
			li.point Web application framework (ähnlich Slim bei PHP)
				ul 
					li Standard Template Engine 
						a(href="http://jade-lang.com/") Jade
					li Dynamisches Routing, ähnlich Ruby on Rails
					li REST-API lässt sich leicht definieren
			li.point 
				span Beispiel 
				pre.prettyprint.linenums
					code /* app.js */
						| var app    = require('express')(),
						|     server = require('http').createServer(app),
						|     PORT   = 1337;
						| 
						| app.get('/', function(request, response) {
						|     response.render('index', { 
						|         title: 'Web-Systeme' 
						|     });
						| });
						| 
						| app.get('/task/:id', function(request, response){
						|     var id = request.params.id;
						|     response.render('rocks', { 'id': id });
						| });
						| 
						| app.get('/public/*', function(request, response){
						|     var path = url.parse(request.url).pathname;
						|     response.sendfile(path);
						| });
						| 
						| server.listen(PORT);
				pre.prettyprint.linenums
					code /* index.jade */
						| !!! 5
						| html
						|     head
						|         title \#{title}
						|         meta(charset="utf-8")
						|     body 
						|         h1 Hallo Welt mit Jade und HTML5
						|         block inhalt 
						|             p Ich bin einfach nur da.
				pre.prettyprint.linenums
					code /* rocks.jade */
						| extends index
						| 
						| block inhalt 
						|     p User mit der ID: \#{id} angefordert.


