article(class="slide step", data-x="1000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")	
	h1 Einführung
	section.introduction 
		ul 
			li.point Entwicklungsbeginn 2009 von Ryan Dahl
			li.point Installation
				ul 
					li Download von .exe oder tarball auf:  
						a(href="http://nodejs.org/download/") http://nodejs.org/download/
					li PATH Variablen setzen 
			li.point Asynchrones I/O System
			li.point Node Package Manager 
				ul 
					li 
						b package.json
						pre(class="prettyprint linenums:1")
							code {
								|    "name"        : "Example package.json",
								|    "version"     : "0.1.0",
								|    "description" : "Ein Nodejs Server für die Präsentation in Web-Systeme",
								|    "author"      : "Matthias Metzger",
								|    "dependencies": {
								|      "express": ">= 3.2.x",
								|      "socket.io": ">= 0.28.x"
								|    }
								| }
					li Installieren von Dependencies mit 
						b package.json
						pre(class="prettyprint")
							code PS B:\Entwicklung\node\nodejs-presentation> npm install

