article(class="step slide", data-x="4000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")
	section.socket-io
		h1 Socket.io
		ul 
			li.point Bibliothek für die Verwendung von HTML5 WebSockets
				ul 
					li Definition von eigenen Events möglich
					li Fallback auf Ajax-Long-Polling
					li Gleiches API client- und serverseitig 
			li.point
				span Beispiel
				pre.prettyprint.linenums 
					code /* app.js */
						| var app    = require('express')(),
						|     server = require('http').createServer(app),
						|     io     = require('socket.io').listen(server),
						|     PORT   = 4242;
						| 
						| app.get('/', function(request, response) {
						|     response.render('index');
						| });
						| 
						| server.listen(PORT);
						| io.on('connect', function(socket) {
						|     socket.on('message', function(json) {
						|         var message = json.message;
						|         socket.broadcast.emit('magic', message);
						|     });
						|     
						|     socket.on('disconnect', function() {
						|         console.log('User disconnected.');
						|     });
						| });
				pre.prettyprint.linenums
					code /* index.jade */
						| doctype 
						| html 
						|     head 
						|         title Socket.io
						|         script(src="/socket.io/socket.io.js")
						|         script(src="/public/main.js")
						|     body
						|         div#status
				pre.prettyprint.linenums
					code /* client.js */
						| var url    = 'http://localhost:8080';
						|     socket = io.connect(url);
						|     status = document.getElementById('status');
						|  
						| socket.on('connect', function() {
						|     status.innerHTML = 'Verbunden mit ' + url;
						| });
						|  
						| socket.on('magic', function(json) {
						|     messages.innerHTML = json.message;
						| });