article(class="step slide", data-x="0", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")	
	section(class="table-of-contents")
		h1 Inhaltsverzeichnis
		ul 
			li.point 
				a(href="#/step-3") Einführung
			li.point 
				a(href="#/step-4") Hello World
			li.point 
				a(href="#/step-5") Express.js
			li.point 
				a(href="#/step-6") Socket.io
			li.point 
				a(href="#/step-7") Demo 
			li.point 
				a(href="#/step-8") MySQL
			li.point 
				a(href="#/step-9") Technologien
