article(class="step slide", data-x="7000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")
	section.technologies
		h1 Technologien
		p Frameworks und Bibliotheken, die verwendet wurden, um diese Präsentation zu erstellen.
		ul 
			li.point  
				b Node - 
				a(href="http://nodejs.org/") http://nodejs.org/
			li.point
				b Express.js - 
				a(href="http://expressjs.com/") http://expressjs.com/ 
			li.point 
				b Jade Template Engine - 
				a(href="http://jade-lang.com") http://jade-lang.com
			li.point 
				b Socket.io - 
				a(href="http://socket.io/") http://socket.io/
			li.point 
				b Impress.js - 
				a(href="http://bartaz.github.io/impress.js/#/bored") http://bartaz.github.io/impress.js/#/bored
			li.point 
				b Sass (Syntactically Awesome Stylesheets) - 
				a(href="http://sass-lang.com/") http://sass-lang.com/
			li.point 
				b Google Code Prettify - 
				a(href="https://code.google.com/p/google-code-prettify/") https://code.google.com/p/google-code-prettify/
			li.point 
				b MySQL Driver for Node - 
				a(href="https://github.com/felixge/node-mysql") https://github.com/felixge/node-mysql
			li.point 
				b Icomoon - 
				a(href="http://icomoon.io/") http://icomoon.io/