article(class="step slide cover", data-x="-1000", data-y="-1500")
	img(class="logo", src="assets/images/logo.png", alt="Displays a logo of nodejs")
	section(class="introduction")
		h1 Nodejs
		p(class="subtitle") Hoch performante Javascript Applikationen
