article(class="step slide", data-x="2000", data-y="-1500")
	img(class="logo", src="assets/images/logo-light.png", alt="Displays a logo of nodejs")
	section.functionality
		h1 Hello World ! 
		ul 
			li.point Beispiel "Hello World" Web Server
				pre.prettyprint.linenums 
					code /* Einfacher Web Server mit Node */
						| var http = require('http'),
						|     OK   = 200,
						|     PORT = 2204; 
						| 
						| http.createServer(function( request, response ) {
						|    response.writeHead( OK, {'Content-type':'text/plain'} );
						|    response.end( 'Hello World !' );
						| }).listen( PORT );	
						| 
						| console.log("Server running on port: " + PORT);
			li.point (Dynamisches) Routing, Templates?
				pre.prettyprint.linenums
					code var url = require('url'), 
						|     fs  = require('fs'), 
						|     OK  = 200, PORT = 2204,
						|     router = {
						|     '/': function(request, response) {
						|         fs.readFile('/index.html', function(error, content) {
						|             if( error ) throw error;
						|             response.writeHead( OK, {'Content-type': 'text/html'});
						|             response.end(content);
						|         });
						|     },
						| };
						| 
						| var server = require('http').createServer(function( request, response ) {
						|    var path = url.parse(request.url).pathname;
						|    router[path](request, response);
						| }).listen(PORT);



